*.out
.DS_Store
__pycache__/
*.ipynb
logs/
.ipynb_checkpoints/
.vscode/
figs/
deprecated/figs/
*.profile
data/huggingface/
data/templates/filler_gap.json
filler_gap/means_all_studies_LSA.csv
filler_gap/sae